/* Import "Lora" font from Google fonts */
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
@import url('https://fonts.googleapis.com/css?family=Cabin');


body {
	margin:0;
	font:100% Lora,Georgia,'Cabin', sans-serif,Times,serif;
}
#content {
	padding:0 5px;
}
#content p a {
	word-wrap:break-word;
}
h1, h2, h3 {
	font-family:"Montserrat";
	font-weight:bold;
	color:#1675A1;
	font-size:36px;
}
h1 {
	margin-top:1em;
	margin-bottom:0.36em;
	font-size:2.26em;
}
h2 {
	font-size:1.667em;
}
h2, h3, h4 {
	margin-top:0;
	margin-bottom:0.416em;
}
p, ul, dl {
	margin-bottom:1.5em;
	line-height:1.625em;
}
ul {
	list-style:circle;
	padding-left:1.3em;
}
a {
	color:#D23600;
	text-decoration:none;
}
a:hover, a:focus, a:active {
	color:#980000;
}
small {
	font-size:0.8em;
}

.gray-button:hover, .gray-button:focus, .gray-button:active {
	color:#d23600;
}
@media (min-width: 640px) {
	body {
		font-size:150%;
	}
	.columns {
		overflow:hidden;
	}
	.left-column, .right-column {
		float:left;
		width:50%;
	}
	.right-column {
		float:right;
	}
	#content {
		margin:0 24px;
		padding:0;
	}
	#themes {
		margin:2.5625em 24px 2em 24px;
	}
}

#logovio{
	margin-top: 2%;
	margin-left: 1%;
	margin-bottom: 1%;
	width: 12%;
	height: 12%;
}

.inputan{
	 position:relative;
	 background: #212F39;
	 padding-bottom: 1%;
}

.makecenter{
	align:center;
	display: flex;
	justify-content: center;
	margin-top:10%;

}



